<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="assets/css/nav.css">
</head>
<body>
    <!-- NAV START-->
    <nav class="navbar d-flex navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid my-1 mx-3">
          <a class="navbar-brand" href="home">
            <img src="assets/images/logo.png" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto ms-lg-3 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-black" aria-current="page" href="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-black tab" href="addproject">Add Project</a>
              </li>
            </ul>
            <form class="d-flex">
              <a href="contact">
                <button class="btn btn-outline-dark" type="button">Contact Me </button>
              </a>
            </form>
          </div>
        </div>
      </nav>
    <!-- NAV END -->
</body>

</html>

